body {
  text-align: center;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Rampart One', cursive;
  color: rgba(35, 51, 46, 0.4);
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#e66465, #9198e5);
}

section.board {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 1px solid rgba(180, 10, 223, 0.3);
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

button {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 15px;
  width: 100px;
  padding: 5px 0;
  margin: 10px auto;
  border-radius: 5px;
  background-color: rgba(80, 246, 190, 0.6);
}

button:hover {
  background-color: rgba(6, 183, 121, 0.4);
}

.square:hover {
  background-color: rgba(11, 37, 233, 0.3)
}